body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ad6b6b;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(204, 177, 177);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #00ff3c;
    color: rgb(134, 104, 104);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #467a52;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #c2f169;
    padding: 8px;
}

th {
    background-color: #20a0eb;
}